<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>I Love You Three Thousand Times ! <i class="fe fe-heart-o"></i></li>
      <li><a href="https://github.com/Tomatoro/Tomatoro.github.io">Tomatoro</a> &copy; <%= date(new Date(), 'YYYY') %></li>
      <!-- <li><%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
      <li><%= __('Theme ') %> <a href="https://github.com/zhwangart/hexo-theme-ocean">Ocean</a></li> -->
    </ul>
  </div>
</footer>
