.articles
  .article
    &:not(:last-child)
      border-bottom border-width border-color solid
  .article-entry, .article-footer
    margin-top 1rem
  .article-footer
    a
      color: #CC6699
  .article-entry
    .article-gallery
      margin-top 1.5rem
  .article-more-link
    color #9999CC