// Tags

.tag-list
  list-unstyled()
  margin-right -.5rem
  margin-left -.5rem
  > .tag-list-item
    display inline-block
    padding .5rem 1rem
    &:before
      font-size: 16px
      content "\f170"
      font-family feathericon
      margin-right .5rem
    .tag-list-link
      font-size: 16px
      text-decoration: none
    .tag-list-count
      color: #99CCCC
      padding: 0 .5rem
