<% if (is_home() && post.top) { %>
  <div class="article-topping">
    <i class="fe fe-umbrella"></i>
  </div>
<% } else { %>
  <div class="article-normal">
    <i class="fe fe-book"></i>
  </>
<% } %>

